Package: cbers4asat
Version: 0.3.2
Priority: optional
Maintainer: Gabriel Russo <gabrielrusso@protonmail.com>
Section: utils
Architecture: amd64
Description: CLI for searching satellite imagery from CBERS-04A and AMAZONIA-1 Catalog.
 Command Line interface for searching satellite imagery from
 CBERS-04A and AMAZONIA-1 Catalog. You can search and save it as
 GeoJSON as well. All data is provided by DGI-INPE, you can search it
 online in this link: http://www.dgi.inpe.br/catalogo/explore
